@mixin titulos {
    h1 {
        font-size: 36px;
        margin-bottom: 20px;
        border-bottom: 2px solid #4b4b4bd7;
    }

    h2 {
        font-size: 24px;
        margin-top: 20px;
        border-top: 2px solid #4b4b4bd7;
    }
}

@mixin card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "item1 item2 item3"
        "item4 item5 item6"
        "item7 item8 item9";
    gap: 1rem;
    grid-gap: 30px;
    justify-items: center;
}