.click-aqui {
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #c3bfbf;
    height: 1.3rem;

    p {
        font-size: 1rem;

    }
}
img {
    height: auto;
    width: 100%;
}
.h3-promo {
    background-color: #cecece49;
    text-transform: uppercase;
}