.contacto {
    padding: 50px 0;
    text-align: center;
    align-items: center;
    border: 3px solid #ccc;
}

.form-group label {
    margin-bottom: 5px;
}

.form-control {
    margin-bottom: 20px;
    font-size: 16px;
}

.card {
    margin-bottom: 20px;
}

label {
    font-size: 25px;
}

.boton-ingresar {
    background-color: #2f60e8d6;
    color: white;
    border-color: #000000;
    font-size: 1.2rem;
    font-weight: 500;
}

.boton-consultar {
    background-color: #2f60e8d6;
    color: white;
}